<app-menu></app-menu>
<app-toast-message #toast></app-toast-message>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4>Emitir certificado</h4>
            <div class="row">
                <div class="form-group col-md-5">
                    <label for="evento">Eventos</label>
                    <select name="evento" id="evento" class="form-control" (change)="loadIngresso($event)">
                        <option value="#">Selecione</option>
                        <option *ngFor="let evento of eventos" [value]="evento.id">{{ evento.nome }}</option>
                    </select>
                </div>
            </div> <br>
            <div class="d-flex" style="max-height: 400px; overflow-y: auto;" *ngIf="ingressos && ingressos.length > 0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nª ingresso</th>
                            <th scope="col">Nome titular</th>
                            <th scope="col">CPF titular</th>
                            <th scope="col">Status</th>
                            <th scope="col" style="text-align: center;">Emitir certificado?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ingresso of ingressos">
                            <td> {{ingresso.id}} </td>
                            <td> {{ingresso.nome}} </td>
                            <td> {{ingresso.cpf}} </td>
                            <td> {{ingresso.statusIngresso}} </td>
                            <td style="text-align: center;">
                                <input class="emitir-certificado" (change)="hasSelecionado()" type="checkbox" name="emitir-{{ingresso.id}}" id="emitir-{{ingresso.id}}">
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                    </tbody>
                </table>
            </div> <br>
            <button class="btn btn-success" style="display: flex; float: right;" [disabled]="!selecionados" (click)="emitirCertificado()">Emitir certificados</button>
        </div>
    </div>
</div>