<app-menu></app-menu>
<app-toast-message #toast></app-toast-message>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4>Acompanhar eventos</h4>

            <table class="table table-hover table-stripped">
                <thead>
                    <th>Evento</th>
                    <th>Local</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Detalhes</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Evento teste</td>
                        <td>AQUI</td>
                        <td>data</td>
                        <td>hora</td>
                        <td><i class="fas fa-paste"></i></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>